###############################
# 15418-proj .gitignore rules #
###############################

# Executable
a.out

# tags file
tags

# etc

#######################################
# Default GitHub C++ .gitignore rules #
#######################################

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
